<!DOCTYPE html>
<html lang="en">
  <head>
    <meta
      name="google-site-verification"
      content="9xWoc5Uoy7MZDL4lXK7S3NZdB0uz1yhGYhMze4mYXfU"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>

  <body>
    <header>
      <div class="main">
        <div class="logo">
          <img src="../../../assets/83b778e79685769fdaf10d20697d430c.jpg" />
        </div>
        <ul>
          <li class="active">
            <button class="btn btn-success" (click)="openModal(template)">
              Login
            </button>
          </li>
          <li>
            <a (click)="signOut()">SignOut</a>
          </li>
          <li>
            <a routerLink="/privacy-policy">privacy-policy</a>
          </li>
          <li>
            <a href="#">Contact</a>
          </li>
        </ul>
      </div>
      <div class="title">
        <!-- <h1>SHARE APP</h1> -->
      </div>
      <!-- <div class="button">
        <a href="#" class="btn">Watch vedio</a>
        <a href="#" class="btn">Learn More</a>
      </div> -->
    </header>

    <ng-template #template>
      <div class="modal-header">
        <button
          type="button"
          class="close pull-right"
          aria-label="Close"
          (click)="modalRef.hide()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <form action="/action_page.php">
            <div class="row">
              <div class="vl">
                <span class="vl-innertext">or</span>
              </div>

              <div class="col">
                <a
                  (click)="signInWithFB()"
                  id="fb"
                  data-value="fb"
                  class="fb btn"
                >
                  <i class="fa fa-facebook fa-fw"></i> Login with Facebook
                </a>
                <a (click)="signInWithGoogle()" class="twitter btn">
                  <i class="fa fa-twitter fa-fw"></i> Login with Google
                </a>
              </div>

              <div class="col">
                <div class="hide-md-lg">
                  <p>Or sign in manually:</p>
                </div>

                <input
                  type="text"
                  name="username"
                  placeholder="Username"
                  required
                />
                <input
                  type="password"
                  name="password"
                  placeholder="Password"
                  required
                />
                <input type="submit" value="Login" />
              </div>
            </div>
          </form>
        </div>

        <div class="bottom-container">
          <div class="row">
            <div class="col">
              <a href="#" style="color:white" class="btn">Sign up</a>
            </div>
            <div class="col">
              <a href="#" style="color:white" class="btn">Forgot password?</a>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </body>
</html>
